@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

    width: 100vw;
    height: 100vh;
}

img{
    width: 160px;
    margin: 5px 40%;
    border-radius: 50%;
    border: 2px solid black;
}

p{
    flex: 0 1 100vw;
    text-align: center;
    margin-bottom: 5px;
}

h1{
    flex: 0 1 100vw;
    font-size: 1.6em;
    text-align: center;
}

#inputUsername{
    flex: 0 1 150px;
    text-align: center;
    padding: 3px 0px;
}

#repo{
    flex: 0 1 350px;
    color: white;
    background-color: #26272e;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    padding: 8px 0px;
    text-decoration: none;
    text-align: center;
}

#button{
    flex: 0 1 100px;
    margin: 20px 40% 0px 40%;
    padding-top: 3px;
    color: white;
    background-color: rgb(39, 39, 39);
    height: 35px;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    border-bottom: 7px solid black;
    font-size: 0.9em;
    text-transform: uppercase;
}